@import "bootstrap.min.css";

/* x-studio365 theme */
/*@import "bootstrap-dark.css";*/
 
:root {
  --dark: #0F132A;
  --gray-dark: #0F132A;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
display: block;
}

body {
margin: 0;
font-family: "Helvetica Neue", "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 0.9375rem;
font-weight: 400;
line-height: 1.5;
color: #fff;
text-align: left;
background-color: #0F132A;
}

a {
  color: #4567ff;
}

a:hover {
  color: #5577ff;
}

/* The pop menu when small */
.pull-right {
	float: right;
}

/* The Nav bar item active color */
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #4567ff;
}

.h1, h1 {
    font-size: 3.5rem;
}

/* works, control the first flat panel */
/* Control the title padding */
.jumbotron {
  padding: 6rem 0rem 0rem 0rem;
  margin-bottom: 2rem;
  background-color: #0F132A;
  border-radius: 0.3rem;
}

.lbtn {
	color: #fff;
	background-color: #4567FF;
	border-color: #4567FF;
}

.rbtn {
    color: #7E96FF;
	background-color: rgba(69,103,255,0.2);
	border-color: #4567FF;
	opacity: 0.8;
	border-width: 0.1rem;
}

.rbtn:hover {
  color: #fff;
}

/* The buttons area position */
.btn-layout {
  padding-top: 2.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.btn-lg {
    padding: .147rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
	
	width: 10rem;
	height: 3.0rem;
	padding-top: 10px;
}

.vsi-lh {
	line-height: 3;
  /*opacity: 0.59;*/
  color: rgba(255, 255, 255, 0.59); /* Avoid child element inherit the opacity */
}

.install-tips {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.feature-opacity {
  /* opacity: 0.5; */
  color: rgba(255, 255, 255, 0.59); /* Avoid child element inherit the opacity */
}

.feature-margin-first {
	margin: 6rem 1rem 6rem 1rem;
}

.feature-margin {
	margin: 6rem 1rem 6rem 1rem;
}

.feature-margin-last {
	margin: 6rem 1rem 6rem 1rem;
}

.feature-left {
  text-align: center;
	margin-right: auto;
}

.feature-right {
    text-align: center;
	margin-left: auto;
}

.col-vcenter-block {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.feature-zoom {
	max-width: 80%;
	max-height: 80%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #303030;
}

.table-dark {
  color: #fff;
  background-color: #0F132A;
}

.table .thead-dark th {
  color: #fff;
  background-color: #303030;
  border-color: #434343;
}

.table .thead-dark th {
  color: #fff;
  background-color: #303030;
  border-color: #434343;
}

.btn-dark {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.btn-outline-dark {
  color: #303030;
  border-color: #303030;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #303030;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #303030;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.badge-dark {
  color: #fff;
  background-color: #303030;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #0F132A;
  border: 1px solid #444;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #999;
  pointer-events: none;
  background-color: #0F132A;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #0F132A;
  background-clip: padding-box;
  border: 1px solid #444;
  border-radius: 0.3rem;
  outline: 0;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 600px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.8203125rem;
  word-wrap: break-word;
  background-color: #0F132A;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^="top"] > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #0F132A;
}

.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #0F132A;
}

.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #0F132A;
}

.bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^="left"] > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #0F132A;
}

.bg-dark {
  background-color: #0F132A !important;
}

.border-dark {
  border-color: #0F132A !important;
}

.text-dark {
  color: #0F132A !important;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #0F132A;
}

.alert-dark {
  background-color: #0F132A;
}

/* --------- update list styles --------------*/
.wp{ width:1000px; margin:0 auto; position:relative; }
.upd_new {
  color:rgba(255, 255, 255, 0.9);
}
.update_rec{ 
  padding:40px 0px 0px 0px;
  color:rgba(255, 255, 255, 0.7);
}
.update_list{ width:940px; margin:0 auto; border-left:#ccc solid 1px;}
.update_list li{ padding:0 0 30px 25px; position:relative; width:100%;}
.update_list li h2{ font-size:18px; margin-bottom:10px; color:rgba(255, 255, 255, 0.9);}
.update_list li h3{ font-size:16px; margin-bottom:10px; color:rgba(255, 255, 255, 0.7);}
.update_list li p{ line-height:24px; font-size:14px;}

ul, ol {
  list-style: none;
  padding-left: 0px;
}

.upd_mk {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background: #777;
  left: 50%;
  bottom: 100%;
  margin-bottom: 20px;
  text-align: center;
  display:block; width:16px; height:16px; position:absolute; top:3px; left: -9px; overflow:hidden;
  }

.new{ 
    background: #6880f7;
  }