docs_dir: docs/zh
site_name: x-studio
repo_url: https://github.com/simdsoft/x-studio.github.io
repo_name: GitHub
edit_uri: edit/master/docs/zh
copyright: Copyright &copy; 2014 - 2023 Simdsoft Limited.
theme:
  name: material
  language: zh
  palette:
    scheme: preference
    primary: indigo
  logo: assets/images/logo.png
  favicon: assets/images/logo.png
  features:
    - content.action.edit
    - content.action.view
    - content.code.copy
    - navigation.footer
  icon:
    edit: material/pencil 
    view: material/eye
    repo: fontawesome/brands/github
nav:
  - 主页: index.md
  - x-studio - 代码编辑篇: coding/index.md
  - x-studio - Lua调试: 
    - 前言: lua-dbg/index.md
    - Unity3D Lua调试: lua-dbg/01_unity3d.md
    - 虚幻引擎 Lua调试: lua-dbg/02_unreal.md
    - Cocos2d-x Lua调试: lua-dbg/03_cclua.md
    - 标准Lua调试: lua-dbg/04_olua.md
    - 常见问题: lua-dbg/05_faq.md
  - x-studio - UI编辑: 
    - CSD恢复: ui-editing/02_csd-recov.md
    - 常见问题: ui-editing/03_faq.md
  - x-studio - 高级篇:
    - 加密解决方案: advanced/01_encrypt.md
    - 软件升级: advanced/02_upgrade.md
    - Lua字节码编译: advanced/03_luac.md
  - x-studio - 使用技巧: use-skills.md
  - x-studio - 软件快捷键: shortcuts.md
  - x-studio - 软件设置: settings.md
  - x-studio - 常见问题: faq.md
  - x-studio - 版本更新: changelog.md
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: simdsoft
      repo: x-studio
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
plugins:
  - search:
      separator: '[\s\-\，\。]+'
  - pdf-export:
      verbose: false
      media_type: print
      combined: true
      combined_output_path: pdf/x-studio-latest.pdf
      enabled_if_env: DOCS_CI
  - minify:
      minify_html: true
extra_css:
  - 'assets/stylesheets/extra.css'
