mkdocs>=1.1.2
pymdown-extensions>=8.1
mkdocs-material>=7.0.6
mkdocs-git-revision-date-localized-plugin==0.9.3
cffi==1.14.6
pytest-runner==5.3.1
WeasyPrint==53.2
mkdocs-pdf-export-plugin>=0.5.9
mkdocs-minify-plugin>=0.3.0
